html {
	width: 100%;
	height: 100%;	
	overflow: hidden;						
}

body {
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

#product_name{
	color: white;
	font-family: Arial;
	font-size: 20px;
	float: left;
	height: 100%;
	padding-left: 10px;
}

.product_release_name{
	color: #ff8800;
	font-size: 30px;
}

#options{
	position: absolute;
	background-color: rgb(185,185,185);
	width: 300px;
	right: -300px;
	padding: 0px 10px;
	z-index: 300;
	box-shadow: inset 0px 0px 10px #888888;
}

#options h1{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	border-bottom: 1px solid rgb(214,214,214);
	line-height: 30px;
}

#menuButtons{
	float: right;
	height: 100%;
	/*font-family: 'Play', sans-serif;*/
}

.toolbar_button{
	width: 70px;
	float: left;
	text-align: center;
	color: #FFFFFA;
	font-family: Arial;
	font-size: 15px;
	line-height: 40px;
	border-left: 1px solid #686868;
}

.toolbar_button:hover{
	background-color: #666666;
	color: #FFFFFF;
	cursor: pointer;
}

#playimg{
	position: relative;
	top: 4px;
	left: 4px;
	width: 24px;
	height: 24px;

}

#footer #copyrights{
	float: left;
	padding-left: 10px;
	color: #8D8D8D;
	line-height: 32px;
	font-family: Arial;
	font-size: 10px;
}

#footer #email{
	float: right;
	padding-right: 10px;
	line-height: 32px;
	color: #8D8D8D;
	font-family: Arial;
	font-size: 12px;
}

#toolbar{
	position: relative;
	width: 100%;				
	background-color: #464646;
	/*z-index: 100;*/
	/*box-shadow: 0px 0px 10px 0px black;*/
}

#editor{
	float: left;		
	background-color: #944;	
	color: #fff;
	font-size: 14px;
	font-family:"Courier New", Courier, monospace;    
	text-transform:uppercase;
	line-height: 20px;	
	resize: none;
	padding: 0px;
}

#editorDiv:focus{

	outline: none;
}

#editorDiv{
	float: right;
	outline: none;
	border: none;
	color: #FFFFFA;
	font-size: 14px;
	font-family:"Courier New", Courier, monospace;    
	text-transform:uppercase;
	line-height: 20px;
 	resize: none;
	background-color: #A1A194;
	padding: 0px;
	overflow: auto;
}

#lineNumbers{
	float: left;
	overflow: auto;
	background-color: #A1A194;
	text-align: right;
	color: #888;
}

#simulator{
	float: right;
	background-color: #0f0;
}

#footer{
	clear: both;
	width: 100%;				
	background-color: #464646;
	z-index: 110;
}

#overlay{
	position: fixed;
	background-color: #333;
	width: 20%;
	top: 0px;
	right: 0px;
	height: 100%;
	z-index: 100;	
}
#cncCanvas{
	position: relative;
	background-color: #fff;
	padding: 0px;
	margin: 0px;
}

#toolCurrentPoint{
	float: left;
	padding-left: 10px;
	color: #C3C5AC;
	line-height: 32px;
	font-family: Arial;
	font-size: 10px;
}